if explanation.entity.negative != null
    |The long-term consequences of a excessive assumption of !{explanation.entity.enLabel} can be: 
    if Array.isArray(explanation.entity.negative)
        eachz negative in explanation.entity.negative with { separator: ',',}
            if Array.isArray(negative.cons_en)
                eachz consequence in negative.cons_en with { separator: ','}
                    |!{consequence}
            else 
                |!{negative.cons_en}
    else 
        if Array.isArray(explanation.entity.negative.cons_en)
            eachz consequence in explanation.entity.negative.cons_en with { separator: ','}
                    |!{consequence}
        else 
            |!{explanation.entity.negative.cons_en}
    |.
if explanation.entity.positive !=null 
    |The long-term benefits of a regular assumption of !{explanation.entity.enLabel} can be: 
    if Array.isArray(explanation.entity.positive)
        eachz positive in explanation.entity.positive with { separator: ',',}
            if Array.isArray(positive.cons_en)
                eachz consequence in positive.cons_en with { separator: ','}
                    |!{consequence}
            else 
                |!{positive.cons_en}
    else 
        if Array.isArray(explanation.entity.positive.cons_en)
            eachz consequence in explanation.entity.positive.cons_en with { separator: ','}
                    |!{consequence}
        else 
            |!{explanation.entity.positive.cons_en}
    |.
